option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node dist/app.js"
    NodeVersion: 22

container_commands:
  01_install_dependencies:
    command: "npm install"
    cwd: /var/app/staging
    ignoreErrors: false
  02_prisma_generate:
    command: "npx prisma generate"
    cwd: /var/app/staging
    ignoreErrors: false
  03_build:
    command: "npm run build"
    cwd: /var/app/staging
    ignoreErrors: false
  04_prisma_migrate:
    command: "npx prisma migrate deploy"
    cwd: /var/app/staging
    leader_only: true
    ignoreErrors: true

