files:
  "/opt/elasticbeanstalk/hooks/appdeploy/prebuild/99_make_build_executable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Make sure build script is executable
      if [ -f /var/app/staging/.platform/hooks/prebuild/01_build.sh ]; then
        chmod +x /var/app/staging/.platform/hooks/prebuild/01_build.sh
      fi


